header{
    width: 100%;
    height: 100px;
    background-color: white;
    color:  black;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

body{
    margin: 0 0 0 0;
}



ul{
  
    position: absolute;
}

#hocks{
    width: 67%;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

#lista{
    float: left;
    padding-top: 20px;
}



#lista ul {
    list-style-type: none;
    /* Remove os marcadores de lista */
    padding: 0;
    /* Remove o preenchimento padrão da lista */
}

#lista ul li {
    display: inline-block;
    /* Faz com que os itens da lista se comportem como elementos em linha */
    margin-right: 15px;
    /* Espaçamento entre os itens da lista */
}

#carrinho{
    width: 47px;
    height: 44px;
    float: left;
    padding-left: 285px;
}

ul{
font-family: Sans-serif;
    float: left;

}

#lupa{
    width: 45px;
        height: 40px;
}



/* footer */
footer{
    border-top: 1px solid black ;
    width: 100%;
    height: 200px;
    background-color:black;
    color: white;
    margin-top: 100px;
}


#hocksFooter{
    text-align: center;
    padding-top: 38px;

}

#redes-sociais {
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
  }

  #redes-sociais li{
    width: 100px;
  }

  #tamanhoDaRedesocial{
    font-size: 18px;
    margin: 0;
  
  }

  #tamanhoDaRedeS{
    width: 65px;
    height: 60px;
  }

  #tamanhoDaRedeInsta{
    width: 50px;
    height: 50px;
    opacity : 1.8;
  }

  #descricoes{
    line-height: 7.0px;
    text-align: center;
    color: white;
    padding-top: 24px;
    font-family: Arial;
  }

  #transparente{
    color: rgba(255, 255, 255, 0.5);
  }

  #arrasta{
    width: 100%;
  }

